@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --primary-color: #222B56;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #5fdde5;
    /* background-color: #00a8cc; */
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4em;
    color: white;
    text-shadow:
        1px 1px #1A9695,
        2px 2px #1A9695,
        3px 3px #1A9695;
    margin-bottom: 30px;
}

#drum-machine {
    background-color: #D69510;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #333;
    box-shadow:
        2px 2px #333,
        4px 4px #333,
        6px 6px #333
        ;
}

#pad-container {
    background-color: #F2D678;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #333;
}

.drum-pad {
    cursor: pointer;
    background-color: #1A9695;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 3em;
    border: 3px solid #333;
    box-shadow: 2px 2px #333;
    transition: all 0.1s ease-in-out;
}

.drum-pad.active {
    transform: translate3d(2px,2px,0);
    box-shadow: none;
}

#display {
    cursor: default;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin-left: 10px;
    min-width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 2em;
    border: 3px solid #333;
}